# UPDATED JULY 2025 - GEMINI 3.6 FLASH LATEST + CHATGPT FALLBACK
GEMINI_API_KEY=
OPENAI_API_KEY=
YT_CLIENT_ID=
YT_CLIENT_SECRET=
YT_REFRESH_TOKEN=
PEXELS_API_KEY=
YOUTUBE_API_KEY=
CHANNEL_NAME=Uncovered USA 24
