pytrends
google-generativeai
moviepy==1.0.3
requests
Pillow==9.5.0
feedparser==6.0.10
python-dateutil
google-api-python-client==2.137.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
piper-tts==1.2.0
imageio-ffmpeg==0.5.1
numpy==1.26.4
